html, body {
    background-color: #2e2e2e;
	color: #f5f5f5;
}


.experience_table {
    border-collapse: collapse; 
    border: 1px solid #f5f5f5; 
}

.experience_table th,
.experience_table td {
    border: 1px solid #f5f5f5; 
    padding: 8px;
}
