:root {
	--bg-color: #ffffff;
	--text-color: #1a1a1a;
}

body.dark-mode {
	--bg-color: #2e2e2e;
	--text-color: #f5f5f5;
}


html, body {
	height: 100%;
	margin: 0;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 24px;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: 'Roboto', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 700;
}

#theme-toggle {
    background: none;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

#theme-toggle:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

p {
  font-size: 20px;
  line-height: 1.6;
}

.header-links {
	align-self: center;
	display: flex;
	justify-content: flex-end;
	padding: 10px 20px;
}

.header-links nav {
	display: flex;
	gap: 1.5rem;
}

.header-links a { 
	color: var(--text-color); 
	font-size: 1.25rem;
	margin: 0;
    padding: 10px;
	text-decoration: none;
}

.fade-in {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 1s ease, transform 1s ease;
}

.hidden {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 1s ease, transform 1s ease;
}












