html, body {
	height: 100%;
	margin: 0;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 24px;
	background-color: #2e2e2e;
	color: #f5f5f5;
	font-family: 'Roboto', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 700;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

.header-links a { 
	color: #93ceff; 
	font-size: 25px;
	text-align: center;
	margin: 0px;
    padding: 10px;
    word-spacing: 0.4em;
	font-size: 1.25rem;
}












