html, body {
	height: 100%;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 24px;
	background-color: #2e2e2e;
	color: #f5f5f5;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.header-links a { 
	color: #93ceff; 
	font-size: 25px;
	text-align: center;
	margin: 0px;
    padding: 10px;
    word-spacing: 0.4em;
	font-size: 1.25rem;
}

.aboutme-photo {
    align-items: flex-start;
    width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}







